# Phase A Quickcheck Hero Table

| source | language | retriever | queries | contamination rejected | Recall@5 | contaminated (>5%) |
| --- | --- | --- | ---: | ---: | ---: | --- |
| {{ source }} | {{ language }} | {{ retriever }} | {{ query_count }} | {{ contamination_rejected_count }} | {{ recall_at_5 }} | {{ contamination_flag }} |
